# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.vsp
*.vsidx

# Ignore build outputs
bin/
obj/

# Ignore other temp files
*.log
*.cache
*.db
*.db-shm
*.db-wal
